
all-recipes {
    text-align: center;
}

.home-cards {
    display: contents;
    margin: 0 10px 0 10px;
    text-align: center;
}

.card {
    display: inline-block;
    width: 450px;
    height: 500px;
}

