{% extends 'base.html' %} {% block content %}

<div class="col s12">
    <h2 class='heading-styles'>Desserts</h2>
    <hr class='hr-style'>
</div>
{% for recipe in all_recipes %}
{% if recipe.course_name == 'Desserts' %}
<div class="col s4 m4 l4 home-cards">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{recipe.picture}}">
        </div>
        <div class="card-content">
            <span class="card-title activator">{{recipe.meal_name}}
            </div>
            <div class="card-reveal card-faded">
                <span class="card-title">{{recipe.meal_name}}<i class="material-icons right">close</i></span>
            <br>
            <p>{{recipe.description}}</p>
            <br>
            <p><strong>Cooking Time: </strong>{{recipe.cooking_time}}</p>
            <p><strong>Author: </strong>{{recipe.author}}</p>
            <p><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}" class='view-btn'>View Recipe</a></p>
            <p><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class='edit-btn'>Edit Recipe</a></p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %} {% endblock %}

