{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>

<!--Starters-->

<div class="col s12">
    <h2 class='all-recipes'>All Recipes</h2>
</div>
{% for starters in starters %}
<div class="col s4 m4 l4 home-cards">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{starters.picture}}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{starters.meal_name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{starters.meal_name}}<i class="material-icons right">close</i></span>
            <br>
            <p>{{starters.description}}</p>
            <br>
            <p><strong>Cooking Time: </strong>{{starters.cooking_time}}</p>
            <br>
            <p><strong>Author: </strong>{{starters.author}}</p>
        </div>
    </div>
<!--</div>-->
{% endfor %}

<!--Main Courses-->

<!--<div class="col s12">-->
<!--    <h2><a href='maincourse.html'>Main Courses</a></h2>-->
<!--</div>-->
{% for main_courses in main_courses %}
<!--<div class="col s4 m4 l4 home-cards">-->
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{main_courses.picture}}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{main_courses.meal_name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{main_courses.meal_name}}<i class="material-icons right">close</i></span>
            <br>
            <p>{{main_courses.description}}</p>
            <br>
            <p><strong>Cooking Time: </strong>{{main_courses.cooking_time}}</p>
            <br>
            <p><strong>Author: </strong>{{main_courses.author}}</p>
        </div>
    </div>
<!--</div>-->
{% endfor %}

<!--Desserts-->

<!--<div class="col s12">-->
<!--    <h2><a href='dessert.html'></a>Desserts</h2>-->
<!--</div>-->
{% for desserts in desserts %}
<!--<div class="col s4 m4 l4 home-cards">-->
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{desserts.picture}}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{desserts.meal_name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{desserts.meal_name}}<i class="material-icons right">close</i></span>
            <br>
            <p>{{desserts.description}}</p>
            <br>
            <p><strong>Cooking Time: </strong>{{desserts.cooking_time}}</p>
            <br>
            <p><strong>Author: </strong>{{desserts.author}}</p>
        </div>
    </div>
<!--</div>-->
{% endfor %}

<!--Side Dishes-->

<!--<div class="col s12">-->
<!--    <h2><a href='sides.html'></a>Side Dishes</h2>-->
<!--</div>-->
{% for side_dishes in side_dishes %}
<!--<div class="col s4 m4 l4 home-cards">-->
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{side_dishes.picture}}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{side_dishes.meal_name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{side_dishes.meal_name}}<i class="material-icons right">close</i></span>
            <br>
            <p>{{side_dishes.description}}</p>
            <br>
            <p><strong>Cooking Time: </strong>{{side_dishes.cooking_time}}</p>
            <br>
            <p><strong>Author: </strong>{{side_dishes.author}}</p>
        </div>
    </div>
<!--</div>-->
{% endfor %}


{% endblock %}
