{% extends 'base.html' %} {% block content %}

<h2 class='heading-styles'>{{recipe.meal_name}}</h2>
<hr class='hr-style'>

<div class="card-image col s12 m12 l6 xl6">
    <img src="{{recipe.picture}}">
</div>

<div class="recipe-info col s12 m12 l6 xl6">
    <p class="course"><i>Course:</i> {{recipe.course_name}}
    </p>
    <p class="author"><i>Author:</i> {{recipe.author}}
    </p>
    <p class="cooking"><i>Cooking Time:</i> {{recipe.cooking_time}}
    </p>
    <p class="description"><i>Description:</i> {{recipe.description}}
    </p>
    <p class="ingredients"><i>Ingredients:</i> {{recipe.ingredients}}
    </p>
</div>
<div class="container">
    <div class="method col s8 offset-s2">
        <p class="method-paragraph"><i>Method:</i> <br>
            <hr> {{recipe.method}}
        </p>
        <div class="btn-recipes">
            <p id='edit-recipe-btn'><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class='edit-btn'>Edit Recipe</a></p>
            <p id='delete-recipe-btn'><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class='delete-btn'>Delete Recipe</a></p>
        </div>
    </div>
</div>


{% endblock %}
